.rightBar {
  flex: 3.5;
}
.righBarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.rightBarTitle {
  margin-bottom: 20px;
}
.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.birthdayText {
  font-size: 15px;
  font-weight: 300;
  color: #555;
}
.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
friendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.titlebar {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.infoo {
  margin-bottom: 30px;
}
.infoItem {
  margin-bottom: 10px;
}
.infoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}
.infoValue {
  font-weight: 300;
}

.followingImg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}
.followings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.followingName {
  font-size: 15px;
  font-weight: 500;
  color: #555;
}
.following {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
